#sotetseg-maze {
  display: block;
  margin: 0 auto;
}

.canvas-wrapper {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 99%; // temporary fix to remove horiz scrollbar... will have to fix properly eventually
}

.canvas-wrapper-parent {
  transform-style: preserve-3d;
}
